<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>thesis</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TrustServerA</display-name>
    <servlet-name>TrustServerA</servlet-name>
    <servlet-class>edu.arizona.cs.thesis.TrustServerA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrustServerA</servlet-name>
    <url-pattern>/Thesis/SSL/TrustServerA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HealthRecordServerA</display-name>
    <servlet-name>HealthRecordServerA</servlet-name>
    <servlet-class>edu.arizona.cs.thesis.HealthRecordServerA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthRecordServerA</servlet-name>
    <url-pattern>/Thesis/HealthRecordServerA</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>TrustServerB</display-name>
    <servlet-name>TrustServerB</servlet-name>
    <servlet-class>edu.arizona.cs.thesis.TrustServerB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrustServerB</servlet-name>
    <url-pattern>/Thesis/SSL/TrustServerB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HealthRecordServerB</display-name>
    <servlet-name>HealthRecordServerB</servlet-name>
    <servlet-class>edu.arizona.cs.thesis.HealthRecordServerB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthRecordServerB</servlet-name>
    <url-pattern>/Thesis/HealthRecordServerB</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>TrustServerC</display-name>
    <servlet-name>TrustServerC</servlet-name>
    <servlet-class>edu.arizona.cs.thesis.TrustServerC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrustServerC</servlet-name>
    <url-pattern>/Thesis/SSL/TrustServerC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HealthRecordServerC</display-name>
    <servlet-name>HealthRecordServerC</servlet-name>
    <servlet-class>edu.arizona.cs.thesis.HealthRecordServerC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthRecordServerC</servlet-name>
    <url-pattern>/Thesis/HealthRecordServerC</url-pattern>
  </servlet-mapping>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>securedapp</web-resource-name>
      <url-pattern>/Thesis/SSL/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <!-- <transport-guarantee>NONE</transport-guarantee> -->
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>

  <login-config>
    <auth-method>CLIENT-CERT</auth-method>
  </login-config>

  <security-role>
    <role-name>x509</role-name>
  </security-role>
</web-app>
